Models
Midi
final_data
Hidden
Results
!Results/tsne.html

# binary
Source/bhtsne_master/bh_tsne
Source/TEMP

# Latex compilation files
*.gz
*.out
*.log
*.bbl
*.blg
*.aux
*.plist

# Python compilation files
*.pyc
*.csv
